.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  display: flex;
  align-items: center;
  padding-left: 3.646vw;
  background-color: rgba(0, 0, 0, 1);
  z-index: 9999;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li:first-child {
      margin-left: 4.427vw;
    }
    li:last-child {
      margin-left: 9.896vw;
    }
    li {
      margin-left: 9.115vw;
      a {
        color: white;
        font-size: 14px;
        font-weight: bold;
        font-family: Montserrat-Regular;
      }
    }
  }
  .video {
    height: 2.667vw;
    transform: scale(3.5);
    background-color: transparent;
  }
  .floatRight {
    position: absolute;
    right: 30px;
     .language {
      color: white;
      margin-left: 30px;
      cursor: pointer;
      display: inline-block;
      line-height: 16px;
      position: relative;
      bottom: 2px;
    }
  }
}

.footer {
  padding: 2.604vw 3.125vw;
  display: flex;
  color: white;
  > div {
    flex: 1;
    a {
      color: white;
      font-family: Montserrat-Regular;
      font-size: 14px;
    }
  }
  > div:nth-child(1) {
    text-align: left;
    div {
      margin-top: 14px;
    }
  }
  > div:nth-child(2) {
    div {
      float: right;
      width: 120px;
    }
    text-align: center;
    p {
      margin-top: 14px;
      font-size: 14px;
      font-family: Montserrat-Regular;
    }
    div:last-child {
      margin-top: 2.34375vw;
      width: 140px;
      float: right;
    }
  }
}

.main {
  margin-top: 3.90625vw;
}
