.image {
  transition: all 1s;
  overflow: hidden;
  position: relative;
  &:hover {
    transform: scale(1.2);
  }
  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

