.container {
  .bannerWrap {
    position: relative;
    .bannerDes {
      position: absolute;
      left: 0;
      bottom: 0;
      color: white;
      padding-left: 3.125vw;
      padding-right: 1.5625vw;
      padding-bottom: 3.125vw;
      width: 100%;
      display: flex;
      > div {
        flex: 1;
      }
      .left {
        h3 {
          font-size: 45px;
        }
        p {
          font-size: 22px;
          margin-top: 0.521vw;
          font-family: Montserrat-Regular;
        }
      }
      .right {
        div {
          width: 240px;
          float: right;
          p:not(:last-child) {
            &::after {
              content: '';
              display: block;
              height: 2px;
              width: 100%;
              background-color: white;
              animation: goWidth 1s;
              margin-top: 5px;
            }
          }
          p {
            margin-top: 15px;
            span {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  .bannerItem {
    margin-top: 20px;
    display: flex;
    > div {
      flex: 1;
      font-size: 0;
    }
    > div.content {
      display: flex;
      align-items: center;
      > div {
        z-index: 10;
        color: white;
        h3 {
          font-size: 28px;
          margin-bottom: 2.083vw;
        }
        p {
          font-size: 16px;
          font-family: Montserrat-Regular;
        }
      }
      div.left {
        padding: 2.385vw 2.083vw;
        background-color: black;
        position: relative;
        left: 7.292vw;
        text-align: right;
      }
      div.right {
        padding: 2.385vw 2.083vw;
        background-color: black;
        position: relative;
        right: 7.292vw;
      }
    }
  }
  .aboutWrap {
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 10.417vw;
    > div {
      display: inline-block;
      width: 49.271vw;
      margin: 0 auto;
      h3 {
        font-size: 28px;
        margin-bottom: 2.604vw;
      }
      p {
        margin-bottom: 10px;
        font-size: 16px;
        font-family: Montserrat-Regular;
      }
    }
  }
  .portfolio {
    padding-top: 4.167vw;
    padding-bottom: 5.208vw;
    background-color: #121212;
    color: white;
    h3 {
      font-size: 45px;
      text-align: center;
    }
    ul {
      display: flex;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20vw;
        height: 15vw;
      }
    }
    .more {
      text-align: right;
      margin-top: 2.604vw;
      a {
        color: white;
        margin-right: 4.6875vw;
      }
    }
  }
}

@keyframes goWidth
{
  from {width: 0;}
  to {width: 100%;}
}
